<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên Hệ</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./bootstrap/css/style.css">
    
</head>
<body>
    <div class="container-fluid bg-white">  
        <div class="row">
            <header>
              <div class="row">
                <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 40px;">
                  <div class="container-fluid">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <img class="nav-link" src="https://www.coolmate.me/images/logo-coolmate-v2.svg" alt="" width="90px" height="40px">
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">CM24</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">84RISING*</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link">COOLXPRINT</a>
                        </li>
                      </ul>
                      <div class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                              <a class="nav-link" href="#">Tham gia CoolClub <i class="fa-solid fa-star fa-lg" style="color: #50555e;"></i></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link">Blog</a>
                            </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-light bg-secondary justify-content-center" style="height: 40px;">
                    <h6 class="text-white text-center">Đồ đông sẵn sàng giao ngay đến <a href="" class="text-white">Mua Ngay </a> <i class="fa-solid fa-arrow-up fa-rotate-90 fa-sm" style="color: #ffffff;"></i></h6>   
                </nav>
                <nav class="navbar navbar-expand-lg navbar-light bg-dark h-25">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="./index.html">
                        <img src="https://www.coolmate.me/images/logo-coolmate-new.svg?v=1" alt="">
                    </a>
                    <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" aria-current="page" href="./index.html">SALE </a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="./danhmucsanpham.html">LOẠI SẢN PHẨM</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="#">ĐỒ THỂ THAO</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="#">MẶC HÀNG NGÀY</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="./tintuc.html">TIN TỨC</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="#">SẢN XUẤT RIÊNG</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link text-white fw-bold" href="./vechungtoi.html">CARE&SHARE</a>
                        </li>
                      </ul>
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Tìm kiếm sản phẩm..." aria-label="Search">
                      </form>
                      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                          <a class="nav-link text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-user-large fa-xl" style="color: #ffffff;"></i>
                          </a>
                          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-to-bracket fa-lg" style="color: #ff4747;"></i> Đăng Nhập</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-registered fa-lg" style="color: #ff4747;"></i> Đăng Ký</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-regular fa-address-card fa-lg" style="color: #ff4747;"></i> Profile</a></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear fa-lg" style="color: #ff4747;"></i> Setting</a></li>
                            <li><hr class="dropdown-divider bg-white"></li>
                            <li><a class="dropdown-item" href="#"><i class="fa-solid fa-right-from-bracket fa-lg" style="color: #ff4747;"></i> Đăng Xuất</a></li>
                          </ul>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link position-relative" href="./cart.html">
                              <i class="fa-solid fa-bag-shopping fa-xl" style="color: #ffffff;"></i>
                              <span class="position-absolute top-3 start-100 translate-middle badge rounded-pill bg-danger">
                                2+
                              </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </nav>
              </div>
            </header>
            <main>
              <section class="news">
                   <div class="row">
                        <div class="col-md-12 ps-5 pe-5">
                              <h6 class="mt-3"> 
                                <span class="text-secondary">Trang chủ</span> /
                                <span class="text-secondary">Blog</span> /
                                  Phối đồ
                              </h6>
                              <h1>Bí kíp phối đồ tập gym nam cực chất lại thoải mái cho chàng</h1>
                              <p class="mt-4">Tìm hiểu bí kíp phối đồ tập gym nam cực chất để mang lại sự thoải mái và phong cách cho các chàng trai. Xem các gợi ý và nguyên tắc phối đồ tốt nhất để tạo nên một phong cách tập luyện ấn tượng.</p>
                              <p class="mt-3 text-secondary">Ngày đăng: 21.05.2023</p>
                        </div>
                        <div class="col-md-8 ps-5 pe-5">
                              <p><span class="fw-bold mt-5">Trang phục tập gym</span> nam là một tiêu chí quan trọng được nhiều anh em quan tâm vì nó ảnh hưởng trực tiếp đến hiệu quả tập luyện của bạn. Phối đồ đúng cách không chỉ là việc chọn những bộ quần áo hợp thời trang, mà còn là việc kết hợp các loại vải, kiểu dáng và màu sắc sao cho phù hợp với mọi bài tập gym.</p>
                              <p class="mt-1">Trong bài viết này,<span class="text-decoration-underline text-primary">Coolmate</span> sẽ giúp bạn khám phá những tips quan trọng để <span class="fw-bold">phối đồ tập gym nam</span> cực chất và thoải mái, giúp bạn trở thành tâm điểm trong phòng tập.</p>
                              
                              <h4 class="mt-4">Những tiêu chí gì để chọn đồ tập gym cho các chàng</h4>
                              <h5 class="mt-4">1. Chất liệu</h5>
                              <p class="mt-2">Yếu tố quan trọng và cơ bản nhất ảnh hưởng đến chất lượng của trang phục và hiệu quả của việc luyện tập là chất liệu. Khi bạn đầu tư một cách hợp lý vào quần áo tập gym, bạn sẽ tận hưởng sự thoải mái và dễ chịu trong quá trình luyện tập.</p>
                              <p class="mt-2">Khi mua <span class="text-primary">quần áo tập gym cho nam</span> giới, hãy chú ý xem liệu chất liệu vải có khả năng thấm hút mồ hôi tốt và thoáng khí hay không. Khi tập luyện, cơ thể sẽ sản sinh mồ hôi và cần một luồng khí tươi để lưu thông tốt hơn.</p>
                              <p class="mt-2">Dù việc tập thể dục có ích cho sức khỏe, nhưng nếu mặc những bộ quần áo không cho phép mồ hôi thoát ra, cơ thể sẽ bị ướt và dễ bị cảm lạnh.</p>
                              <p class="mt-2">Hiện nay, có ba chất liệu phổ biến được sử dụng trong sản xuất quần áo tập gym: cotton, polyester và spandex. Hãy cùng xem những đặc điểm của từng loại vải này:</p>
                              <ul class="mt-3">
                                <li><span class="fw-bold">Cotton:</span> Chất liệu này có khả năng thấm hút tuyệt vời và giới hạn mùi cơ thể. Tuy nhiên, trong những buổi tập với cường độ cao như tập gym, bạn có thể cảm thấy cơ thể ẩm như vừa tắm.</li>
                                <li><span class="fw-bold">Polyester:</span> Chất liệu này có độ bền cao, ít nhăn nhúm sau khi giặt, nhẹ và rất thoáng khí. Đặc biệt, vải polyester còn có khả năng chống tia cực tím (UV) ngay cả khi bị ướt.</li>
                                <li><span class="fw-bold">Spandex:</span> Chất liệu này có tính co giãn xuất sắc, có thể kéo giãn nhiều lần mà vẫn giữ được hình dạng ban đầu. Ngoài ra, vải spandex còn mềm mại, không gây tĩnh điện và không tạo xơ trên bề mặt.</li>
                              </ul>
                              <img src="./images/news/ctb1.webp" class="img-fluid mt-3 rounded ms-4" alt="...">
                              <p class="text-center fst-italic mt-1">Nên lựa chọn chất liệu vải thấm hút mồ hôi tốt khi tập gym. Nguồn: Internet</p>
                              <h5 class="mt-4">2. Độ co giãn</h5>
                              <p class="mt-2">Không chỉ về chất liệu, mà độ co giãn cũng đóng góp một phần quan trọng trong việc mang lại sự thoải mái và tự tin cho người mặc. Đối với một bộ đồ tập gym, độ co giãn cao là điều cần thiết để đảm bảo phạm vi hoạt động rộng khi thực hiện các động tác. Ngoài ra, lựa chọn đai quần có tính đàn hồi, ôm vừa eo cũng rất quan trọng. Tránh những chiếc quần quá chặt vì chúng có thể gây ra vết hằn và đau rát trên vùng bụng.</p>
                              <h5 class="mt-4">3. Size phù hợp</h5>
                              <p class="mt-2">Một bộ quần áo thể thao lý tưởng nên có kích cỡ vừa vặn, không quá rộng hoặc quá chật. Khi quần áo quá rộng, nó có thể bị vướng vào các thiết bị tập luyện hoặc gây cản trở khi thực hiện các động tác. Nếu quần áo quá chật, nó có thể hạn chế sự lưu thông máu và ảnh hưởng đến chất lượng buổi tập.</p>
                              <img src="./images/news/ctb2.webp" class="img-fluid mt-3 rounded ms-4" alt="...">
                              <p class="text-center fst-italic mt-1">Chọn size đồ tập thoải mái sẽ giúp nâng cao hiệu suất luyện tập. Nguồn: Internet</p>
                              <h5 class="mt-4">4. Thời tiết</h5>
                              <p class="mt-2">Dưới đây là một số gợi ý về <span class="text-primary">trang phục tập gym</span> cho nam giới, tùy thuộc vào mùa:</p>
                              <p class="mt-3"><span class="fw-bold">Trang phục mùa hè:</span> Khi mùa hè đến, chất liệu thoáng khí và thấm hút là ưu tiên hàng đầu. Vì khí hậu nóng có thể làm bạn ra mồ hôi nhiều hơn, việc chọn sai chất liệu sẽ khiến bạn cảm thấy nóng bức và không thoải mái khi tập luyện. Đồng thời, nếu mồ hôi không được thấm hút ngay, cơ thể có thể bị lạnh. Đây là một số item phù hợp cho mùa hè:</p>
                              <ul class="mt-3">
                                <li><span class="fw-bold">Áo ba lỗ, <span class="text-primary">áo tank top</span>:</span> Những loại áo này thoáng mát và giúp bạn cảm thấy dễ chịu trong nắng nóng.</li>
                                <li><span class="fw-bold">Áo phông:</span>Một chiếc áo phông có chất liệu thấm hút tốt cũng là một lựa chọn tốt cho mùa hè.</li>
                                <li><span class="fw-bold">Quần short:</span>Để tạo sự thoải mái và linh hoạt khi tập luyện, quần short là một item phù hợp.</li>
                              </ul>
                              <p class="mt-3"><span class="fw-bold">Trang phục mùa đông:</span> Mùa đông đòi hỏi trang phục thoải mái, thấm hút và giữ ấm cơ thể. Dưới đây là một số gợi ý cho mùa đông:</p>
                              <ul class="mt-3">
                                <li><span class="fw-bold">Áo phông kết hợp áo ba lỗ:</span> Lớp áo phông bên trong có thể giữ ấm cơ thể, trong khi áo ba lỗ bên ngoài có tính thoáng khí và linh hoạt hơn cho việc vận động..</li>
                                <li><span class="fw-bold">Quần jogger:</span>Một chiếc áo phông có chất liệu thấm hút tốt cũng là một lựa chọn tốt cho mùa hè.</li>
                                <li><span class="fw-bold">Áo thun hoặc quần legging giữ nhiệt:</span>Có sẵn những chiếc áo thun hoặc quần legging giữ nhiệt, được ưa chuộng bởi nhiều người tập gym. Đây là những item đáng xem xét để sở hữu trong những buổi tập luyện vào mùa đông.</li>
                              </ul>
                              <h5 class="mt-4">Coolmate - Nơi mua sắm đáng tin cậy cho nam giới</h5>
                              <div class="row">
                                    <div class="col-md-10 bg-light border border-1 rounded ms-4 mt-4">
                                          <h4 class="fw-bold ms-3 mt-3">>>> Xem thêm:</h4>
                                          <ul class="ms-5 mt-3 mb-5">
                                            <li class="text-primary">Tổng hợp 10+ địa chỉ mua áo ba lỗ tập gym nam TPHCM giá tốt nhất 2023</li>
                                            <li class="text-primary">Đi tập gym nên mang gì? Top 18+ vật dụng cần thiết khi tập gym</li>
                                            <li class="text-primary">9 tips chọn quần áo tập gym cực chuẩn cho cả nam và nữ</li>
                                          </ul>
                                    </div>
                              </div>
                        </div>
                        <div class="col-md-4 ps-5 pe-5">
                              <div class="col-md-12 border border-1 rounded bg-light ps-4 pe-4 mt-2">
                                    <h4 class="mt-3">Mục lục</h4>
                                    <hr>
                                    <h6>Những tiêu chí gì để chọn đồ tập gym cho các chàng</h6>
                                    <p>1. Chất liệu</p>
                                    <p>2. Độ co giãn</p>
                                    <p>3. Size phù hợp</p>
                                    <p>4. Thời tiết</p>
                                    <h6>Gợi ý cách phối đồ tập gym cực chất cho từng buổi tập</h6>
                                    <p>1. Buổi tập vai (áo ba lỗ + quần short + giày thể thao)</p>
                                    <p>2. Buổi tập ngực (áo ba lỗ/áo thun + quần short + giày sneaker)</p>
                                    <p>3. Buổi tập lưng (áo thun + quần tập lưng cao + giày thể thao)</p>
                              </div>
                              <div class="col-md-12 border border-1 rounded bg-light mt-4">
                                  <img src="./images/news/e1.webp" class="img-fluid rounded" alt="...">
                              </div>
                        </div>
                        <hr class="mt-5 mb-5">
                   </div>
                   
              </section>
              <section class="end">
                <div class="row bg-primary h-50 mt-5">
                     <div class="col-md-12">
                          <h3 class="text-white text-center pt-3">Tháng 11, đăng ký HỘI VIÊN COOLCLUB - Nhận voucher 15% + quà độc quyền</h3>
                     </div>
                     <div class="col-md-12 pt-3 pb-3">
                          <div class="row">
                              <div class="col-md-6">
                                <button class="btn btn-light fw-bold rounded-pill text-primary float-end">THAM GIA MIỄN PHÍ hoặc ĐĂNG NHẬP</button>
                              </div>
                              <div class="col-md-6">
                                <button class="btn btn-primary fw-bold border-white rounded-pill text-white float-start">Tìm hiểu đặc quyền Hội viên CoolClub</button>
                              </div>
                          </div>
                     </div>
                </div>
              </section>
            </main>
            <footer class="py-5 bg-dark bg-gradient text-white">
              <div class="row">
                <div class="col-6 col-md-2 mb-3">
                  <h5>COOLCLUB</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Đăng kí thành viên</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Ưu đãi & Đặc quyền</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>CHÍNH SÁCH</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Chính sách đổi trả 60 ngày</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Chính sách khuyến mãi</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Chính sách bảo mật</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Chính sách giao hàng</a></li>
                  </ul>
                </div>
          
                <div class="col-6 col-md-2 mb-3">
                  <h5>CHĂM SÓC KHÁCH HÀNG</h5>
                  <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Trải nghiệm mua sắm 100% hài lòng</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-white">Hỏi đáp - FAQs</a></li>
                  </ul>
                </div>
          
                <div class="col-md-5 offset-md-1 mb-3">
                  <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                      <label for="newsletter1" class="visually-hidden">Email address</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                      <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
          
              <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2023 Company DINH VAN HUNG, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                  <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #ffffff;"></i></a></li>
                  <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-tiktok fa-2xl" style="color: #ffffff;"></i></a></li>
                  <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-square-twitter fa-2xl" style="color: #ffffff;"></i></a></li>
                </ul>
              </div>
            </footer>
        </div>
    </div>
    
    <script src="https://kit.fontawesome.com/20e78b6934.js" crossorigin="anonymous"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>