<main>
  <section class="main-slider">
    <div class="row">
      <div class="col-md-12 cd">
        <img src="./images/news/a1.webp" class="img-fluid" alt="...">
      </div>
    </div>
  </section>
  <section class="news">
      <div class="row">
            <div class="col-md-12">
                  <input class="input-group rounded border border-1 mt-4 w-50 h-100" type="text" placeholder="Tìm Kiếm bài viết..." style="margin-left: 350px;">
            </div> 
            <div class="col-md-12">
              <div class="row mt-5">
                    <div class="col-md-2">
                      <select class="form-select bg-light rounded-pill border-0 shadow" aria-label="Default select example">
                        <option selected>Mặc Đẹp</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <select class="form-select bg-light rounded-pill border-0 shadow" aria-label="Default select example">
                        <option selected>Sống Chất</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
                    <div class="col-md-2">
                      <select class="form-select bg-light rounded-pill border-0 shadow" aria-label="Default select example">
                        <option selected>Coolate có gì mới?</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
              </div>
            </div>
      </div>
      <div class="row">
            <div class="col-md-6">
                  <h1 class="mt-5">Bài viết nổi bật</h1>
                  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
                      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <img src="./images/news/s1.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <img src="./images/news/s2.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./images/news/s3.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./images/news/s4.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./images/news/s5.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./images/news/s6.avif" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="./images/news/s7.webp" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="ms-5">
                    <h1 class="mt-5">Xem nhiều nhất</h1>
                    <div class="row mt-4">
                        <div class="col-md-3">
                          <img src="./images/news/l1.avif" class="img-fluid rounded" alt="...">
                        </div>
                        <div class="col-md-9">
                            <h6 class="text-secondary mt-2">Phối đồ | 21.05.2023</h6>
                            <h5 class="mt-1">Bí kíp phối đồ tập gym nam cực chất <br> lại thoải mái cho chàng</h5>
                        </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-3">
                        <img src="./images/news/l2.avif" class="img-fluid rounded" alt="...">
                      </div>
                      <div class="col-md-9">
                          <h6 class="text-secondary mt-2">Kinh nghiệm hay | 14.01.2022</h6>
                          <h5 class="mt-1">Bí kíp tạo dáng chụp ảnh nam đẹp<br> ngầu như mẫu nam Hàn Quốc</h5>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-3">
                        <img src="./images/news/l3.avif" class="img-fluid rounded" alt="...">
                      </div>
                      <div class="col-md-9">
                          <h6 class="text-secondary mt-2">Văn hóa | 21.01.2022</h6>
                          <h5 class="mt-1">Tổng hợp 19+ di tích lịch sử Việt Nam<br> đẹp nổi tiếng qua năm tháng</h5>
                      </div>
                    </div>
                    <div class="row mt-2">
                      <div class="col-md-3">
                        <img src="./images/news/l4.avif" class="img-fluid rounded" alt="...">
                      </div>
                      <div class="col-md-9">
                          <h6 class="text-secondary mt-2">Giải trí | 19.02.2022</h6>
                          <h5 class="mt-1">Top 18 phim xem cùng người yêu "ướt<br> át" và gợi tình nhất thế giới</h5>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11 bg-primary border rounded mt-4" style="margin-left: 60px;">
                <h3 class="fw-bold text-white mt-2">Bài mới mỗi ngày</h3>
            </div>
      </div>
      <div class="row">
            <div class="col-md-4 mt-4 px-5">
                <img src="./images/news/b1.avif" class="img-fluid rounded" alt="..."> 
                <h5 class="mt-2">9 địa chỉ in quà tặng theo yêu cầu dành cho doanh nghiệp cuối năm 2023</h5>
                <p class="text-secondary mt-2">Coolxprint Blog | 14.11.2023</p>
                <p class="mt-2">Cùng Coolmate khám phá 9 địa chỉ in quà tặng theo yêu cầu uy tín và tin cậy đang được nhiều doanh nghiệp “chọn mặt gửi vàng” để chuẩn bị quà tặng cuối năm.</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
                <img src="./images/news/b2.avif" class="img-fluid rounded" alt="..."> 
                <h5 class="mt-2">Bỏ túi 8 tips phối đồ đi du lịch mùa đông tại Hàn Quốc cho nam giới?</h5>
                <p class="text-secondary mt-2">Phối đồ | 12.11.2023</p>
                <p class="mt-2">Hàn Quốc được biết đến với phong cảnh cực đẹp vào mùa đông. Cùng bỏ túi một số tips phối đồ đi du lịch mùa đông tại Hàn Quốc cho nam giới cùng Coolmate qua bài viết dưới đây nhé!</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b3.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">Top 8 bộ đồ lặn khô (drysuit) tốt, đáng mua nhất 2023</h5>
              <p class="text-secondary mt-2">Mua gì ở đâu | 14.11.2023</p>
              <p class="mt-2">Cùng Coolmate tìm hiểu về dry suit và khám những bộ đồ lặn khô (drysuit) tốt nhất, đáng mua nhất, đang được “dân” lặn săn lùng nhất hiện nay.</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b4.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">Chủ nghĩa khắc kỷ (stoicism) là gì? Tại sao nó giúp bạn sống tốt hơn?</h5>
              <p class="text-secondary mt-2">Tâm lý tình cảm | 13.11.2023</p>
              <p class="mt-2">Chủ nghĩa khắc kỷ là gì? Tại sao nó lại có thể giúp bạn sống tốt hơn? Hãy cùng theo chân Coolmate tìm hiểu về chủ đề này trong bài viết dưới đây nhé!.</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b5.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">Bỏ túi 9 xưởng in bình nước theo yêu cầu làm quà tặng tại Hà Nội</h5>
              <p class="text-secondary mt-2">Coolxprint Blog | 14.11.2023</p>
              <p class="mt-2">Nếu bạn đang băn khoăn chưa chọn được xưởng in bình nước theo yêu cầu Hà Nội uy tín và chất lượng thì đừng bỏ qua 9 gợi ý đến từ Coolmate dưới đây nhé!</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b6.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">Top 08 mẫu đồng phục nhóm đi du lịch đẹp ấn tượng</h5>
              <p class="text-secondary mt-2">Coolxprint Blog | 12.11.2023</p>
              <p class="mt-2">Hiện nay rất nhiều công ty đang chọn các thiết kế đồng phục nhóm đi du lịch như một cách gắn kết nhân viên. Cùng Coolmate khám phá 8 mẫu thiết kế đẹp và ấn tượng nhé!</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b7.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">9 địa chỉ in quà tặng theo yêu cầu dành cho doanh nghiệp cuối năm 2023</h5>
              <p class="text-secondary mt-2">Coolxprint Blog | 14.11.2023</p>
              <p class="mt-2">Cùng Coolmate khám phá 9 địa chỉ in quà tặng theo yêu cầu uy tín và tin cậy đang được nhiều doanh nghiệp “chọn mặt gửi vàng” để chuẩn bị quà tặng cuối năm.</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b8.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">Top 11 mẫu đồng phục tiếp viên hàng không đẹp chuyên nghiệp</h5>
              <p class="text-secondary mt-2">Coolxprint Blog | 08.11.2023</p>
              <p class="mt-2">Mẫu đồng phục tiếp viên hàng không được thiết kế đặc biệt để tôn lên vẻ đẹp và sự chuyên nghiệp trong phong cách của các tiếp viên hàng không trong mắt hành khách. Cùng theo chân Coolmate tìm.</p>
            </div>
            <div class="col-md-4 mt-4 px-5">
              <img src="./images/news/b9.avif" class="img-fluid rounded" alt="..."> 
              <h5 class="mt-2">Top 10+ mẫu đồng phục thể dục thể thao học sinh đẹp mới nhất</h5>
              <p class="text-secondary mt-2">Coolxprint Blog | 10.11.2023</p>
              <p class="mt-2">Đồng phục thể dục, thể thao cho học sinh là một mẫu đồng phục hầu hết các trường học hiện nay đều phải có. Vì thế, xu hướng chọn may những mẫu đồng phục thể dục cũng ngày càng được nhiều.</p>
            </div>
            <div class="col-md-12 mt-5">
                  <button class="btn btn-primary" style="margin-left: 655px;">Xem thêm</button>
            </div>
            <div class="col-md-10 mt-5 border border-1 rounded" style="margin-left: 120px;">
                <h2 class="mt-3">Chuyên mục nổi bật: <button class="btn btn-light border border-1 ms-2">Phối đồ</button> <button class="btn btn-light border border-1 ms-2">Xu hướng - phong cách</button> <button class="btn btn-light border border-1 ms-2">Chăm sóc nam giới</button> <button class="btn btn-light border border-1 ms-2">Giải trí</button></h2>
                <p class="text-center">Coolmate Blog cung cấp những nội dung liên quan đến thế giới thời trang, làm đẹp. Ngoài ra, trang blog luôn cập nhật những chia sẻ ngắn, bí quyết về thời trang, làm đẹp cùng những trang phục đẹp hàng ngày.</p>
            </div>
      </div>
     
  </section>
  <section class="end">
    <div class="row bg-primary h-50 mt-5">
        <div class="col-md-12">
              <h3 class="text-white text-center pt-3">Tháng 11, đăng ký HỘI VIÊN COOLCLUB - Nhận voucher 15% + quà độc quyền</h3>
        </div>
        <div class="col-md-12 pt-3 pb-3">
              <div class="row">
                  <div class="col-md-6">
                    <button class="btn btn-light fw-bold rounded-pill text-primary float-end">THAM GIA MIỄN PHÍ hoặc ĐĂNG NHẬP</button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-primary fw-bold border-white rounded-pill text-white float-start">Tìm hiểu đặc quyền Hội viên CoolClub</button>
                  </div>
              </div>
        </div>
    </div>
  </section>
</main>