<main>
  <section class="about">
    <div class="row">
         <div class="col-md-12">
             <img src="./images/about/b1.avif" class="img-fluid" alt="...">    
             <h1 class="text-center mt-4">VỀ CARE & SHARE BY COOLMATE</h1>
             <p class="mt-4 text-center">Coolmate cam kết dành 10% doanh thu từ sản phẩm “Care & Share” đóng góp vào quỹ để tổ chức các hoạt động thiện nguyện<br>
                 dành cho trẻ em có hoàn cảnh khó khăn.</p>
         </div>
         <div class="col-md-12">
             <div class="row">
                     <div class="col-md-4"></div>
                     <div class="col-md-4">
                         <img src="./images/about/c1.webp" class="img-fluid" alt="...">  
                     </div>
                     <div class="col-md-4"></div>
             </div>  
         </div>
    </div>
    <div class="row mt-5">
         <div class="col-md-6 px-4">
             <h1 class="mt-2"><i class="fa-brands fa-slack fa-2xl" style="color: #d6d6d6;"></i> Một công ty không cần phải lớn mới làm được điều ý nghĩa</h1>
             <p class="mt-2">Coolmate đã nghĩ và tin như thế khi khởi xướng chương trình Care & Share này. Sức nhỏ làm việc nhỏ, ít nhất chúng ta đã bắt tay vào lan toả điều tích cực.</p>
         </div>
         <div class="col-md-6">
                 <div class="row">
                     <div class="col-md-5 bg-primary text-white rounded px-3 pt-3">
                             <i class="fa-solid fa-users fa-lg float-start mt-2" style="color: #ffffff;"></i>
                             <h4>30.000+ khách hàng</h4>
                             <p class="ps-xl-4">đã tham gia vào chương trình</p>
                     </div>
                     <div class="col-md-5 bg-primary text-white rounded px-3 pt-3 ms-4">
                         <i class="fa-solid fa-money-bill-wave fa-lg float-start mt-2" style="color: #ffffff;"></i>
                         <h4>1.463.205.841 đồng</h4>
                         <p class="ps-xl-4">là số tiền đã được trích ra gửi đến trẻ em có hoàn cảnh khó khăn</p>
                     </div>
                     <div class="col-md-5 bg-primary text-white rounded px-3 pt-3 mt-4">
                         <i class="fa-solid fa-gift fa-lg float-start mt-2" style="color: #ffffff;"></i>
                         <h4>56.710 sản phẩm</h4>
                         <p class="ps-xl-4">đã được gửi đến tay khách hàng</p>
                     </div>
                     <div class="col-md-5 bg-primary text-white rounded px-3 pt-3 ms-4 mt-4">
                         <i class="fa-regular fa-heart fa-lg float-start mt-2" style="color: #ffffff;"></i>
                         <h4>5 Dự án</h4>
                         <p class="ps-xl-4">đã được được thực hiện</p>
                     </div>
                 </div>
         </div>
    </div>
    <div class="row mt-5">
         <div class="col-md-12">
             <h3 class="fw-bold text-center">MỘT SỐ HÌNH ẢNH CỦA HOẠT ĐỘNG CARE & SHARE</h3>
         </div>
    </div>
    <div class="row px-5 mt-3">
         <div class="col-md-4">
             <img src="./images/about/d1.webp" class="img-fluid rounded-5" alt="..." style="height: 360px; width: 100%;">
         </div>
         <div class="col-md-4">
             <img src="./images/about/d2.webp" class="img-fluid rounded-5" alt="..." style="height: 360px; width: 100%;">
         </div>
         <div class="col-md-4">
             <img src="./images/about/d3.webp" class="img-fluid rounded-5" alt="..." style="height: 360px; width: 100%;">
         </div>
    </div>
    <div class="row mt-3">
         <div class="col-md-5 ps-4">
             <iframe class="mt-5 ps-2" width="100%" height="450px" src="https://www.youtube.com/embed/aJXomZeIl_M?si=IiIzpVeEmdbhEEOL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
         </div>
         <div class="col-md-7 pt-5 pb-5 pe-5">
             <iframe class="ms-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31355.76528306674!2d106.67776291164049!3d10.775218529117014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f38f9ed887b%3A0x14aded5703768989!2zUXXhuq1uIDEsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1700100666519!5m2!1svi!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
    </div>
    <div class="row">
         <img src="./images/about/d1.png" class="img-fluid" alt="...">  
    </div>
    <div class="row">
         <div class="col-md-12">
             <h4 class="text-center mt-4 fw-bold">THEO DÕI CÁC HOẠT ĐỘNG CARE & SHARE BY COOLMATE TẠI:</h4>
         </div>
         <div class="col-md-6 mt-2">
                 <button class="float-end btn btn-primary rounded-4 fs-4"><i class="fa-brands fa-facebook fa-xl" style="color: #ffffff;"></i> Care & Share with Coolmate</button>
         </div>
         <div class="col-md-6 mt-2">
                 <button class="float-start btn btn-dark rounded-4 fs-4"><i class="fa-brands fa-tiktok fa-xl" style="color: #ffffff;"></i> Coolmate Care & Share</button>
         </div>
    </div>
  </section>
  <section class="end">
  <div class="row bg-primary h-50 mt-5">
        <div class="col-md-12">
            <h3 class="text-white text-center pt-3">Tháng 11, đăng ký HỘI VIÊN COOLCLUB - Nhận voucher 15% + quà độc quyền</h3>
        </div>
        <div class="col-md-12 pt-3 pb-3">
            <div class="row">
                <div class="col-md-6">
                  <button class="btn btn-light fw-bold rounded-pill text-primary float-end">THAM GIA MIỄN PHÍ hoặc ĐĂNG NHẬP</button>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-primary fw-bold border-white rounded-pill text-white float-start">Tìm hiểu đặc quyền Hội viên CoolClub</button>
                </div>
            </div>
        </div>
  </div>
  </section>
</main>