<div class="row bg-primary h-50 mt-5">
    <div class="col-md-12">
         <h3 class="text-white text-center pt-3">Tháng 11, đăng ký HỘI VIÊN COOLCLUB - Nhận voucher 15% + quà độc quyền</h3>
    </div>
    <div class="col-md-12 pt-3 pb-3">
         <div class="row">
             <div class="col-md-6">
               <button class="btn btn-light fw-bold rounded-pill text-primary float-end">THAM GIA MIỄN PHÍ hoặc ĐĂNG NHẬP</button>
             </div>
             <div class="col-md-6">
               <button class="btn btn-primary fw-bold border-white rounded-pill text-white float-start">Tìm hiểu đặc quyền Hội viên CoolClub</button>
             </div>
         </div>
    </div>
</div>